<div class="container">
  <div class="row g-3 mt-2 p-2">
    <form action="/filter" method="post">
      <div class="col row">
        <div class="col select-group">
          <select class="form-select btn-info" id="floatingSelectGrid" aria-label="Floating label select example"
            onchange="submit()">
            <option selected disabled>年份</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col select-group">
          <select class="form-select btn-info" id="floatingSelectGrid" aria-label="Floating label select example"
            onchange="submit()">
            <option selected disabled>月份</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col select-group">
          <select class="form-select btn-info" id="floatingSelectGrid" aria-label="Floating label select example"
            onchange="submit()">
            <option selected disabled>類別</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        {{!-- 第二種備用 --}}
        {{!-- <form>
          <div class="row g-1">
            <div class="col-4 col-md">
              <div class="form-group">

                <select class="form-select btn-primary" id="exampleSelect1">
                  <option>類別</option>
                  <option>交通出行</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-4 col-md">
              <div class="form-group">

                <select class="form-select" id="exampleSelect1">
                  <option>月份</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-4 col-md">
              <div class="form-group">
                <select class="form-select" id="exampleSelect1">
                  <option>年份</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </form> --}}
        {{!-- 第二種備用 --}}
      </div>
    </form>
  </div>
  <div class="total-demo col-11 mx-auto p-2">
    <div class="row bg-dark col-12 mx-auto">
      <div class="col-5 ">
        <p class="total-name ">總金額 : </p>
      </div>
      <div class="col-7 ">
        <p class="total-amount text-warning my-auto">{{totalAmount}} 元</p>
      </div>
    </div>
  </div>
  <div class="list-demo">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item ">
        <div class="row">
          <div class="col-md-3 col-sm-6 icon">
            <i class="{{this.icon}} fa-5x" ></i>
          </div>
          <div class="col-md-3 col-sm-6  content">
            <div class=" name">
              {{this.name}}
            </div>
            <div class="date">
              {{this.date}}
            </div>
          </div>
          <div class="col-md-3 col-sm-6  amount">
            {{this.amount}}
          </div>
          <div class="col-md-3 col-sm-6  list-btn">
            <form action="/records/{{this._id}}/delete" method="post">
              <div class="btn-demo ">
                <a href="/records/{{this._id}}/edit" class="btn btn-secondary " id="editBtn">修改</a>
                <button type="submit" class="btn btn-danger " id="deleteBtn">刪除</button>
              </div>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="d-grid gap-2 col-4 mt-4 mx-auto">
    <a href="/new" class="btn btn-warning createBtn">新增支出</a>
  </div>
</div>